a{
	text-decoration: none;
	color:black;
}
{
	box-sizing: border-box;
}
body{
	margin: 0% ;
	padding: 0% ;
	background-color:black ;
}
ul{
	display:flex;
	justify-content: space-around;
}
li{
	list-style:none;

}
header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family:'Mali', cursive;
	font-size: 24px;
}

.intro{
	background-image:url('image.png');
	background-size: cover;
	padding: 400px 0;
	text-align: center;
}
.intro h1 {
	color: black;
	font-size: 70px;
}
.apple {
	position: absolute;
	bottom: 0;
	left:0;
}
.sound {	
	position: absolute;
	bottom: 0;
	right: 0;
}
.down {
	position: absolute;
	bottom: 0;
}
.bio {
	width: 100%;
	text-align: center;
	background-color: #D26831;
	padding: 50px 0;
}

.bio-info {
	display: flex;
	justify-content: center;
}

.bio-info p {
	background-color: #F87400;
	padding: 2%;
	width: 75%;
	font-family: 'Mali', italic;
}
.bio h1{
	font-family: 'Economica', sans-serif;
	font-size: 50px;
}

.-info {
	background-color: #F87400;

}

.albums {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #D26831;
	text-align: center;

}

.album {
	width: 30%;
}

.album-info {
	background-color: #F87400;
	font-family:'Mali', cursive;
}

.place{
	width: center;
	margin: 20px auto 0 auto;
	color:#F87400;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
	width: 70%;
	background-color: black
	font-family: 'Mali', italic;
}

#sub{
	text-decoration: underline;
}
.face{
		width: center;
	margin: 20px auto 0 auto;
	color:#F87400;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
	width: 70%;
	background-color: black
	font-family:'Mali', cursive;
	font-size: 25px;
	text-decoration: underline;
}

.tour{
	background-color: black;
}

.tour h1{
	width:100%;
	text-align: center;
	color: #F87400;
	text-decoration: underline;
	font-family: 'Economica', sans-serif;
	font-size: 72px;
}


